@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

:root {
  --accent: hsl(158, 36%, 37%);
  --accent-active: hsl(158, 36%, 20%);

  --background: hsl(30, 38%, 92%);

  --white: hsl(0, 0%, 100%);
  --light-blue: hsl(228, 12%, 48%);
  --dark-blue: hsl(212, 21%, 14%);
  font-size: 12px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  background-color: var(--background);

  color: var(--light-blue);
  font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
section.product-card {
  background-color: var(--white);
  max-width: 300px;
  margin: 2rem;
  border-radius: 10px;
}

section .art img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

section.product-card h1 {
  font-family: 'Fraunces', sans-serif;
  line-height: 1.1;
  color: var(--dark-blue);
}

section.product-card .category {
  letter-spacing: 0.25rem;
  font-size: 0.8rem;
}

section.product-card article {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section.product-card p.product-description {
  /* font-size: 0.75rem; */
  line-height: 1.6;
}

section.product-card .price {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 1rem;
}

section.product-card .actual-price {
  font-family: 'Fraunces', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: var(--accent);
}

section.product-card .before-price {
  font-size: 1.2srem;
}

section.product-card button {
  inline-size: 100%;
  padding: 0.9rem;
  border: none;
  background-color: var(--accent);
  border-radius: 8px;
  color: var(--white);
  font-weight: 700;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

section.product-card button:hover {
  background-color: var(--accent-active);
}

.cart {
  background: url('images/icon-cart.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

@media screen and (min-width: 550px) {
  section.product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
  }

  section .art img {
    border-radius: 10px 0 0 10px;
  }
}
