:root {
  --primary: hsl(47deg 88% 63%);
  --secondary: hsl(0deg 0% 100%);
  --gray-500: hsl(0deg 0% 42%);
  --gray-950: hsl(0deg 0% 7%);
  --space-xl: 1.5rem;
  --space-lg: 1rem;
  --space-md: 0.75rem;
  --space-sm: 0.5rem;
  --space-xs: 0.25rem;
  --font-lg: 1.5em;
  --font-md: 1em;
  --font-sm: 0.875em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--gray-950);
  font-weight: 500;
  font-size: clamp(
    1em,
    calc(1rem + (1.12 - 1) * ((100vw - 29.9em) / (30 - 29.9))),
    1.12em
  );
  font-family: Figtree, system-ui;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0;
  background-color: var(--primary);
  font-optical-sizing: auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  max-inline-size: clamp(
    20.4375rem,
    calc(20.4375rem + (24 - 20.4375) * ((100vw - 29.9rem) / (30 - 29.9))),
    24rem
  );
  padding: var(--space-xl);
  background-color: var(--secondary);
  border-radius: 20px;
  box-shadow: 10px 10px var(--gray-950);
}

.card__img {
  height: 12.5rem;
  object-fit: cover;
  border-radius: 10px;
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  justify-content: space-around;
}

.card__header--title {
  font-weight: 800;
  font-size: var(--font-lg);
}

.card__header--title--link {
  color: var(--gray-950);
  text-decoration: none;
}

.card:hover {
  cursor: pointer;
}

.card:hover .card__header--title--link {
  color: var(--primary);
}

.card__header--tag {
  display: inline-block;
  align-self: flex-start;
  padding: 5px 10px;
  font-weight: 800;
  font-size: var(--font-sm);
  background-color: var(--primary);
  border-radius: 4px;
}

.card__header--date {
  font-size: var(--font-sm);
}

.card__description {
  color: var(--gray-500);
  font-size: var(--font-sm);
}

.card__footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.card__footer--author {
  font-size: var(--font-md);
}

.card__footer--avatar {
  width: 32px;
  height: 32px;
}

.attribution {
  margin-block-start: var(--space-lg);
}

.attribution__content--challenge,
.attribution__content--dev {
  color: var(--gray-950);
  text-decoration: underline;
}

.attribution__content--link:hover,
.attribution__content--dev:hover {
  color: var(--secondary);
}
