.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --primary: #1f314f;
  --secondary: #68778d;
  --bg: #d5e1ef;

  --space-500: 40px;
  --space-300: 24px;
  --space-200: 16px;

  font-size: 15px;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--bg);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.card-description {
  margin: auto;
  max-width: 256px;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.467rem;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--primary);
  margin-top: var(--space-300);
  margin-bottom: var(--space-200);
}

p {
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: 0.013rem;
  color: var(--secondary);
  margin-bottom: 0;
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.qr-code-container {
  max-width: 320px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: var(--space-200) var(--space-200) var(--space-500) var(--space-200);
  background-color: #fff;
  box-shadow: 5px 15px 10px 2px rgba(0, 0, 0, 0.1); /* Adjust offsets and color */
}

img {
  width: 100%;
  border-radius: 20px;
}

footer {
  position: relative;
  margin: 20px;
}
