[submodule "challenges/qr-code-component"]
	path = challenges/qr-code-component
	url = git@github.com:ortiz-antonio/qr-code-component.git
[submodule "challenges/blog-preview-card"]
	path = challenges/blog-preview-card
	url = git@github.com:ortiz-antonio/blog-preview-card.git
[submodule "challenges/social-links-profile"]
	path = challenges/social-links-profile
	url = git@github.com:ortiz-antonio/social-links-profile.git
