:root {
  --primary: #1f314f;
  --secondary: #68778d;
  --bg: #d5e1ef;
  --space-200: 1em;
  --space-300: 1.5em;
  --space-500: 2.5em;
}

body {
  font-weight: 500;
  font-size: 1em;
  font-family: Outfit, sans-serif;
  background-color: var(--bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}

.qr {
  width: 100%;
  max-width: 20em;
  margin: var(--space-200);
  padding: var(--space-200) var(--space-200) var(--space-500) var(--space-200);
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 15px 10px 2px rgba(0 0 0 0.1);
}

.qr__art--img {
  inline-size: 100%;
  border-radius: 10px;
}

.qr__title {
  margin-top: var(--space-300);
  margin-bottom: var(--space-200);
  color: var(--primary);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
}

.qr__description {
  color: var(--secondary);
  line-height: 1.4;
  letter-spacing: 0.0125em;
}

.footer__attribution {
  position: relative;
  text-align: center;
}

.footer__attribution--link {
  color: hsl(228deg 45% 44%);
}
