:root {
  --primary: hsl(257, 40%, 49%);
  --accent: hsl(300, 69%, 71%);

  --mx: 10%;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 3.5vw;
  /* font-size: 4.3vw; */

  color: white;
}

body {
  background: var(--primary) url('./images/bg-mobile.svg') no-repeat center top /
    contain;
}

#logo {
  width: 40%;
  margin-top: 10%;
  margin-bottom: 20%;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 var(--mx);
}

.art {
  margin-bottom: 15%;
}

.mockup {
  width: 100%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.5rem;
}

p {
  font-size: 1.24rem;
  line-height: 1.7rem;
}

.description {
  text-align: center;
}

.cta {
  margin-top: 5%;
  display: inline-block;
  text-decoration: none;
  color: var(--primary);
  background-color: white;
  padding: 5% 20%;
  border-radius: 20px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}
footer > ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

footer > ul > li {
  display: inline-block;
}

footer > ul > li > a {
  font-size: 2.5rem;
  color: white;
  margin: 0px 5px;
}

footer > ul > li > a:hover {
  color: var(--accent);
}

footer > p > a {
  text-decoration: none;
  color: var(--accent);
}

@media screen and (min-width: 600px) {
  body {
    background: var(--primary) url('./images/bg-desktop.svg') no-repeat center
      center / cover;
    min-height: 100vh;
  }
  #logo {
    margin-bottom: 10%;
  }
  .container {
  }
  main {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
  }
  .description {
    text-align: left;
  }
  h1 {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }

  p {
    font-size: 0.272rem;
    line-height: 0.5rem;
  }

  .cta {
    margin-top: 1%;
    font-size: 0.3rem;
    padding: 3% 12%;
  }
  .art {
    flex: 1.8;
    margin-bottom: 0;
  }
  .description {
    flex: 1;
  }
  footer {
    margin-top: 0;
    align-self: self-end;
  }
  footer > p {
    text-align: right;
  }
  footer > ul > li > a {
    /* display: none; */
    font-size: 0.6rem;
  }
}
