main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

article {
  width: 300px;
}

article > img {
  width: fit-content;
}

header a {
  text-decoration: none;
  color: white;
}
