@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
.attribution {
  text-align: center;
}
.attribution a {
  color: var(--green);
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

html,
body {
  background-color: var(--grey-900);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.link-card {
  background-color: var(--grey-800);
  border: 1px solid var(--grey-800);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 90%;
}

.link-card > img {
  margin-top: 30px;
  border-radius: 50%;
  width: 25%;
}

.link-card > h1 {
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: 900;
}

.link-card > h2 {
  margin-top: 5px;
  color: var(--green);
  font-size: 1.1rem;
  font-weight: 700;
}

.link-card > q {
  margin-top: 10px;
  margin-bottom: 10px;
}

nav {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.link-card > nav > ul > li > a {
  display: block;
  color: var(--white);
  text-decoration: none;

  text-align: center;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--grey-700);
  font-size: 1.1rem;
  font-weight: 900;
}

.link-card > nav > ul > li a:hover {
  background-color: var(--green);
  color: var(--grey-900);
  cursor: pointer;
}

footer {
  position: relative;
  margin-top: 20px;
}

@media (min-width: 370px) {
  .link-card {
    width: 350px;
  }
}
