:root {
  --primary: hsl(257, 40%, 49%);
  --accent: hsl(300, 69%, 71%);
  background-color: var(--primary);

  --mx: 40px;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 13px;
  color: white;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}
